<ion-header>
  <ion-toolbar>
    <ion-title> <ion-icon name="HOME"></ion-icon>Ionic Cargo App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img
        src="https://www.alimentarium.org/en/system/files/thumbnails/image/Transport_Cargo_Conteneur.jpg"
        alt="cargoShip"
      />
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button routerLink="/menu"> menu </ion-button>
  </ion-card>
</ion-content>
